.container {
  background-image: url(../img/ice-cream.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 25px;
  padding-bottom: 25px;

  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  perspective: 300px;
  text-align: justify;
  overflow: hidden;
}
.text {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Luckiest Guy", cursive;
  position: relative;
  top: 900px;
  font-size: 40px;
  color: rgb(47, 85, 30);
  animation: text 30s infinite linear;
}

@keyframes text {
  0% {
    top: 900px;
    transform: rotateX(20deg) translateZ(800px);
  }
  100% {
    top: -3000px;
    transform: rotateX(25deg) translateZ(-3000px);
  }
}
